.contact img{
    width: 500px;
    margin-right:-500px ;
    margin-bottom: 100px;
    animation: animate-rotate 20s infinite linear;
    opacity: 0.4;
}


@keyframes animate-rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact .stroke{
    font-size: 5rem;
    -webkit-text-stroke: 0.5px #D89666;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    font-weight: bolder;
    text-align: center;
}


@media(min-width:900px){
    .fill{
     font-size: 8rem;
    }
    .welcome{
     padding-top: 40px;
    }
    .contact-page-container img{
        margin-right:-1000px ;
    }
    .contact .stroke{
        font-size: 6rem;
    }

}


